# data
/readstat/tests/data/*.csv
/readstat/tests/data/*.feather
/readstat/tests/data/*.ndjson
/readstat/tests/data/*.parquet
# environment
.idea/
.vscode/
# starts with _ are larger files to exclude
/readstat/tests/data/_*.sas7bdat
# target
/iconv-sys/target/
/readstat/target/
/readstat-sys/target/