# data
/readstat/tests/data/*.csv
/readstat/tests/data/*.ipc
/readstat/tests/data/*.parquet
# starts with _ are larger files to exclude
/readstat/tests/data/_*.sas7bdat
# target
/iconv-sys/target
/readstat/target
/readstat-sys/target