[package]
name = "readstat"
version = "0.13.0"
authors = ["Curtis Alexander <calex@calex.org>"]
edition = "2021"
description = "Rust wrapper of the ReadStat C library"
license = "MIT"
repository = "https://github.com/curtisalexander/readstat-rs"

[dependencies]
# Arrow ecosystem crates
arrow = { version = "54", features = ["chrono-tz"] }
arrow-array = "54"
arrow-cast = "54"
arrow-csv = "54"
arrow-ipc = { version = "54", features = ["zstd"] }
arrow-json = "54"
arrow-schema = "54"
parquet = { version = "54", features = ["snap", "zstd", "brotli", "flate2", "lz4"] }
clap = { version = "4", features = ["derive", "unicode", "wrap_help"] }
crossbeam = "0.8"
csv = "1.3"
chrono = { version = "0.4", features = ["serde"] }
colored = "2.0"
env_logger = "0.11"
indicatif = "0.17"
lazy_static = "1.4"
lexical = "7.0"
log = "0.4"
num_cpus = "1.16"
num-derive = "0.4"
num-format = "0.4"
num-traits = "0.2"
path_abs = "0.5"
rayon = "1.8"
regex = "1.10"
readstat-sys = { path = "../readstat-sys", version = "0.2.0" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
